* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;

  list-style-type: none;
  text-decoration: none;
}

body {
  overflow: hidden;
  background: #202031;
}

span {
  background: transparent;
}

.MuiIconButton-label {
  color: white
}

.MuiAutocomplete-clearIndicator > .MuiIconButton-label {
  color:  #202031
}

.MuiAutocomplete-popupIndicator > .MuiIconButton-label {
  color:  #202031
}

.recharts-text {
  fill: white;
}
.recharts-cartesian-grid {
  opacity: 0.2
}
